<ul id="menu_list">
    <li><%= link_to 'ルーム登録', new_room_path,{class: "page_link"} %></li>
    <li><%= link_to '予約済みルーム一覧', reservations_path,{class: "page_link"} %></li>
    <li><%= link_to '登録済みルーム一覧', rooms_path,{class: "page_link"} %></li>
    <li><%= link_to '設定', edit_user_registration_path,{class: "page_link"} %></li>
    <li><%= link_to 'ログアウト', users_sign_out_path, method: :delete %></li>
</ul>
