<!DOCTYPE html>
<html>
  <head>
    <title>ReserveApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-inner">
        <div class="header-left-nav">
          <div class="left-nav-item">
            <a href="/">
              <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png" alt="サイトロゴ画像">
            </a>
            <div class="search-form">
              <%= form_tag(search_path, method: :get) do %>
                  <%= text_field_tag "search_area", "", class:"form-control", id: "search", placeholder:"エリアを入力" %>
              <% end %>

              <%= form_tag(search_path, method: :get ) do %>
                  <%= text_field_tag "search", "", class:"form-control", id:"search", placeholder:"キーワードを入力" %>
              <% end %>﻿
            </div>
          </div>
        </div>
        <div class="header-right-nav">
          <div class="right-nav-item">
              <% if user_signed_in? %>
              <p class="user-name"><%= current_user.name %></p>
               <% if current_user.avatar? %>
                <input type="checkbox" id="input" value="off" >
                <label for="input" class= "menu" ><%= image_tag current_user.avatar.url, size: "50x50", class: 'menu_image'%></label>
                <%= render "devise/shared/menu_contents" %>
                <% else %>
                <input type="checkbox" id="input" value="off" >
                <label for="input" class= "menu" ><%= image_tag asset_path("default_icon.png"), size: "50x50", class: 'menu_image'%></label>
                <%= render "devise/shared/menu_contents" %>
               <% end %>
              <% else %>
              <a href="/users/sign_in" class="btn btn-primary btn-login ">ログイン</a>
              <a href="/users/sign_up" class="btn btn-warning">登録する</a>
              <% end %>
          </div>
        </div>
      </div>
    </header>
     <%= yield %>
    <footer>
      <p>rails 実践課題２</p>
    </footer>
  </body>
</html>
